<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= form.label :title %></strong>
    <%= form.text_field :title, :size =>"60" %>
  </div>

  <div class="field">
    <strong><%= form.label :text %></strong>
    <%= form.text_area :text, :size => "100x45" %>
  </div>

  <% if false %>
  <div class="field">
    <%= form.label :time %>
    <%= form.datetime_select :time %>
  </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
